.navItem{
    margin-right: 20px;
    // color: #b2aeae;
    font-weight: bold;
    // &.with_icon{
    //     display: flex;
    //     align-items: center;
    //     // justify-content: space-around;
    //     svg{
    //         margin-right: 25px;
    //     }

    // }
    &:hover{
        color: black;
        transition: all 0.3s ease-in-out;
        // background-color: #f1f1f1;
    }
}